body,html{
    font-family: sans-serif;
}

/*CABEÇALHO E HEADER*/
#banner {
    height: 555px;
    background-image: url(./img/banner.png);
    background-repeat: round;
    
}

#banner header .menu {
    display: flex;
    list-style: none;
    justify-content: flex-end;

    margin-top: -75px;
    width: 200px;
    float: right;
    margin-right: 57px;
}
#banner header menu #ImgLogo {
    width: 90px;
    margin: auto auto auto 53px;
    display: flex;
}
#banner #ImgLogo img {
    margin-top: 20px;
    margin-left: 45px;
}
#banner header menu a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
}
#banner header ul #searcher {
    background: none;
    border: none;
    cursor: pointer;

    width: 40px;
    float: right;
    margin-right: -298px;
    margin-top: -39px;
}
#banner header ul .menu-anchor {
    display: none;
}
#banner header li {
    list-style: none;
}
#banner #titleBannerButton {
    
    margin-left: 52px;
    margin-top: 120px;
}
#banner #titleBannerButton h1 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 33pt;
    margin-bottom: -10px;
    margin-top: 123px;
}
#banner #titleBannerButton h4 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 22pt;
    color: rgb(129, 129, 129);
    margin-bottom: 10px;
    margin-top: 20px;
}
#banner #titleBannerButton button {
    color: #fff;
    background-color: #02b102f2;
    width: 155px;
    height: 45px;
    border: none;
    margin-left: 4px;
    cursor: pointer;
} 
#banner #titleBannerButton button:hover {
    background-color: darkcyan;
}
#banner #titleBannerButton button:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

/*SOBRE*/
#sobre {
    display: grid;
}
#sobre span {
    margin: 15px;
    text-align: center;
    font-size: 25pt;
}
#sobre #content {
    display: flex;
    width: 85%;
    margin: auto;    
}
#sobre #content #contentImg1 {
    width: 345px;
}
#sobre #content #contentImg1 img {
    width: 345px;
}
#sobre #content #text1 {
    margin-top: 0;
    font-size: 15pt;
    margin-right: 5px;
    text-align: inherit;
}
#sobre #content #text1 a,
.fa .fas{
    display: none;
}
#sobre #content #buttonBlue {
    margin-top: 15px;
    background-color: cadetblue;
    border: none;
    width: 130px;
    height: 30px;
    color: #fff;
    cursor: pointer;
}
#sobre #content #buttonBlue:hover {
    background-color: #4848e4;
}
#sobre #content #buttonBlue:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

#sobre #content2 {
    display: flex;
    width: 85%;
    margin: auto;    
}
#sobre #content2 #contentImg2 {
    width: 273px;
}
#sobre #content2 #contentImg2 img {
    width: 273px;
    height: 256px;
}
#sobre #content2 #text2 {
    margin: 0;
    font-size: 15pt;
    text-align: inherit;
}

/*PORTFOLIO*/
#portfolio {
    display: grid;
}
#portfolio span {
    margin: 15px;
    text-align: center;
    font-size: 25pt;
}
#portfolio #imagesPort {
    width: 70%;
    margin: auto;
}
#portfolio #imagesPort img {
    width: 275px;
    height: 175px;
    margin: 15px;
}
#portfolio #newProjects {
    width: 180px;
    height: 40px;
    text-align: center;
    margin: auto;
    font-size: 8pt;    
    border: none;
    cursor: pointer;
    background-color: cornflowerblue;
    color: #fff;
}
#portfolio #newProjects:hover {
    background-color: blue;
}
#portfolio #newProjects:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

/*DEPOIMENTOS*/
#depoimentos {
    display: grid;
    text-align: center;
}
#depoimentos span {
    margin: 15px;
    text-align: center;
    font-size: 25pt;
}
#depoimentos #slider {
    width: 75%;
    margin: auto;
}
#depoimentos #slider #angle #iconLeft {
    float: left;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 24pt;
    
}
#depoimentos #slider #angle #iconRigth {
    float: right;
    margin-top: 30px;
    font-size: 24pt;
    margin-right: 40px;
    margin-left: -40px;
}
#depoimentos #slider #angle button {
    font-size: 24pt;
    background: none;
    border: none;
    cursor: pointer;
}

#depoimentos #slider #angle button:hover {
    background: whitesmoke;
    border-radius: 100px;
}

#coments {
    display: inline-flex;
}
#depoimentos #coments #textComent {
    display: inline-block;
    /* clear: both; */
    font-size: 10pt;
    /* margin: -10px; */
    width: 180px;
    text-align: initial;
    margin-bottom: 0px;
}
#avatar {
    
}

/*CONTATOS*/
#contatos {
    display: grid;
    text-align: center;
}
#contatos span {
    margin: 15px;
    text-align: center;
    font-size: 25pt;
}
#contatos #formulario {
    width: 60%;
    margin: auto;
}
#contatos #formulario input {
    border-block-end-color: inherit;
    height: 30px;
    margin: 10px;
    width: 220px;
}
#contatos #formulario #form2 {
    display: inline-flex;
    margin-top: 20px;
    
}
#contatos #formulario #form2 textarea {
    margin-right: 61px;
}
#contatos #formulario #form2 input {
    margin: 0;
}
#contatos #formulario #form2 #buttonDiv{
    display: flex;
}
#contatos #formulario #form2 button {
    width: 135px;
    margin: auto;
    margin-left: -135px;
    border: none;
    height: 35px;
    color: #fff;
    background-color: #484848;
    cursor: pointer;
}
#contatos #formulario #form2 button:hover {
    background-color: darkgrey;
}
#contatos #formulario #form2 button:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

/*FOOTER*/

#footer {
    display: flex;
    margin-top: 20px;
    background-color: #000;
    text-align: center;
}
#footer #rigth {
    width: 50%;
    height: 350px;
    border: solid 2px #fff;
    margin: 50px;
    margin-right: 0;
}
#footer #rigth h1 {
    color: #fff;
    font-size: 17pt;
}
#footer #rigth input {
    width: 325px;
    height: 43px;
    border: none;
}
#footer #rigth button {
    width: 175PX;
    height: 45px;
    margin: 0;
    margin-left: -6px;
    background-color: darkgray;
    border: none;
    cursor: pointer;
    color: #fff;
}
#footer #rigth button:hover {
    background-color: darkolivegreen;
}
#footer #rigth button:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
#footer #rigth h5 {
    color: #fff;
    text-align: initial;
    margin-left: 50px;
    font-size: 20pt;
    margin-bottom: 0;
    margin-top: 70px;
}
#footer #rigth #links {
    display: inline-grid;
    margin: 20px;
    margin-top: 10px;
}
#footer #rigth #links img {
    width: 95px;
    height: 95px;
}
#footer #rigth #links a {
    display: grid;
    background-color: #2d2d2d85;
    color: #fff;
    text-decoration: none;
    font-size: 10pt;
}
#footer #left {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 350px;
    border: solid 2px #fff;
    margin: 50px;
    margin-left: 0;
}
#footer #left #menu {
    display: grid;
    margin: 60px;
    margin-top: 10px;
}
#footer #left #menu #hideMenuFooter,
#footer #left #sobreFooter #hideSobreFooter
 {
    display: contents;
}
#footer #left #menu #neweMenuFooter h3 #angleDownHide {
    display:none;
}

#footer #left #menu h3{
    color: #fff;
}
#footer #left #menu a {
    margin-bottom: -15px;
    color: #fff;
    text-decoration: none;
    /* padding: 0; */
    height: 10px;
    text-align: initial;
    margin-left: 2px;
    width: 30px;
    margin-top: -20px;
    font-size: 11pt;
}
#footer #left #sobreFooter {
    display: grid;
    margin: 100px;
    margin-top: 10px;
    height: 150px;
}
#footer #left #sobreFooter h3 {
    color: #fff;
}
#footer #left #sobreFooter a {
    margin-bottom: -15px;
    color: #fff;
    text-decoration: none;
    /* padding: 0; */
    height: 10px;
    text-align: initial;
    margin-left: 84px;
    width: 142px;
    margin-top: -20px;
    font-size: 11pt;
}
#footer #left img {
    margin: auto;
    height: 30px;
    margin-left: -360px;
    margin-top: 270px;
}
#footer #footerResponsive {
    display:flex;
    height: 100%;
    width: 100%;
}

/*RESPONSIVE*/

@media (max-width: 780px) 
{
    
    body, html{
        width: auto;
        display: contents;
        margin: 0;
       
        
    }
    main {
       
        width: 400px;
        overflow: hidden;
    }
    #banner {
        width: auto;
        height: 367px;
        background-image: url(./img/bannerResponsive.png);
        background-repeat: round;
        
    }
    #banner header .menu {
            display: flex;
            list-style: none;
            justify-content: flex-end;
            
            margin-top: 0;
           
            width: auto;
            float:none;
            margin-right: 0;
    }
    #banner #ImgLogo {
        width: 100px;
        margin-left: -15px;
    }
    #banner #menuButton {
    width: 100px;
    height: 30px;
    margin-bottom: 245px;
    margin-top: -275px;
    margin-left: 215px;
    }
    #banner header {
        width: 300px;
    }
    #banner header ul {
        margin-top: 20px;
        display: inline-flex;
    }
    #banner header ul img {
        margin-right: 5px;
    }
    #banner header li {
        width: 40px;
        float: right;
    }
    #banner header ul #searcher {
        margin-top: 0;
    }
    #banner header ul .menu-anchor {
      display: inline-flex;
    }
  /* posicionando pra fora do viewport */
    #banner header .menu {
        display: inline-grid;
        left: -220px;
        transition: left .25s linear;
        
    }
 
 /* quando o script inserir a classe, nós retornamos o menu para a posição original */
    .menu-active #banner header .menu {
        left: 0;
    }
    #banner header, .menu {
        -webkit-transform: translateX(0);
}
    #banner header .menu {
        transform: translateX(-220px);
        transition: all .15s linear;
}
    .menu-active #banner {
    
    background-repeat: round;
}

    .menu-active #banner header .menu {
       
    /*transform: translateX(65px);*/
    transform: translate(45px, 23px);
    transition: all .25s linear;
}

    .menu-active #titleBannerButton {
        display: none;
        
    }
#banner #titleBannerButton {
    width: 300px;
    margin-top: -141px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
#banner #titleBannerButton h1 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 21pt;
    margin-bottom: -10px;
}
#banner #titleBannerButton h4 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 12pt;
    color: rgb(129, 129, 129);
    margin-bottom: 10px;
    margin-top: 20px;
}
#banner #titleBannerButton button {
    color: #fff;
    background-color: #525252f2;
    width: 155px;
    height: 45px;
    border: none;
    margin-left: 4px;
    margin-top: 60px;
    cursor: pointer;
}
/*SOBRE*/
#sobre {
    width: auto;
}
#sobre #content {
    display: contents;
}
#sobre #content #contentImg {
    width: auto;
}
#sobre #content #contentImg1 img {
    width: auto;
}
#sobre #content #text1 button{
    display: none;
}
#sobre #content #text1 a{
    display: inline-flex;
    text-decoration: none;
    color: black;
    margin-left: 33%;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
}
#sobre #content #text1 i {
    margin-left: 9px;
}
#sobre #content2 {
    display: none;
}
    .content2-active #sobre #content2 {
        display: contents;
}

#sobre #content2 #contentImg2 {
    width: auto;
}
#sobre #content2 #contentImg2 img {
    width: auto;
}
/*PORTFOLIO*/
#portfolio {
    display: inline-grid;
    margin: auto;
    text-align: center;
    width: auto;
}
#portfolio #imagesPort {
    width: auto;
    margin: auto;
}
#portfolio #imagesPort img {
    width: 150px;
    height: 175px;
    margin: 15px;
}
#portfolio #imagesPort .newProjectsImg {
    display: none;
}
    .newProjects-active #portfolio #imagesPort .newProjectsImg {
        display: inline-grid;
    }


/*DEPOIMENTOS*/

#depoimentos {
    width: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
#depoimentos #slider {
    display: contents;
}
#depoimentos #slider #angle #coments .avatarHide {
    display: none;
}

/*CONTATOS*/

#contatos {
    width: auto;
}
#contatos #form2 {
    flex-direction: row-reverse;
    width: 228px;
    display: flex;
    margin-left: 85px;
}
#contatos #form2 #textAreaDiv {
   width: 100%;
   margin-top: 55px;
}
#contatos #form2 #textAreaDiv textarea {
    
    margin-right: 137px;
    margin-left: -75px;
    width: 225px;
 }
#contatos #form2 #inputDiv {
    margin-left: 39px;
    margin-right: -152px;
}

#contatos #form2 #inputDiv input {

}

#contatos #form2 #buttonDiv {
    margin-top: 260px;;
    margin-right: -221px;
}
#contatos #formulario input {
    border: solid 1px black;
}

/*FOOTER*/

#footer {
    display: inline-grid;
    width: auto;
    height: 1150px;
    
}
#footer #footerResponsive {
    margin: 20px;
    border: solid 5px #fff;
    width: 87%;
    overflow: hidden;
    height: auto;
}
#footer #left img {
    margin-top: -830px;
    margin-left: 70px;
    height: 50px;
    position: absolute;
}
#footer #rigth {
   /* width: 259px; */
    height: auto;
    border: none;
    margin: auto;
    margin-right: 59px;
    height: 960px;
    
}
#footer #rigth h1{
    margin-right: -73px;
    font-size: 10pt;
    margin-bottom: 22px;
    margin-top: 20px;
}
#footer #footerResponsive #rigth form{
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}
#footer #footerResponsive #rigth form input {
    width: 158px;
    margin: auto;
    margin-left: -34px;
    background-color: #fff;
}
#footer #footerResponsive #rigth form button {
    width: 137PX;
    height: 45px;
    margin: 0;
    background-color: darkgray;
    border: none;
    cursor: pointer;
    color: #fff;
}
#footer #footerResponsive #rigth h5{
    color: #fff;
    text-align: initial;
    margin-left: 37px;
    font-size: 20pt;
    margin-bottom: 0;
    margin-top: 70px;
}
#footer #footerResponsive #rigth a {
    width: 70px;
}
#footer #footerResponsive #rigth #linkResponsive {
    margin-left: -69px;
    width: 335px;
}

#footer #left {
    display: grid;
    margin-top: 850px;
    margin-left: -280px;
    height: 289px;
    width: 280px;
    border: none;
}
#footer #left #menu {
    border: solid 3px #fff;
    width: 369px;
    margin-left: -39px;
    height: auto;
    text-align: center;
    margin-top: -209px;
}
#footer #left #menu h3 {
    margin-right: 137px;
    text-align: end;
}
#footer #left #menu a {
    margin-left: 60px;
    margin-top: -4px;
    height: 60px;
}
#footer #left #menu #hideMenuFooter {
    display:none;
}
#footer #left #menu {
    height: 55px;
    margin: -30px;
    margin-top: -272px;
}
.newMenuFooter #footer #left #menu #hideMenuFooter {
    display: grid;
}
.newMenuFooter #footer #left #menu {
    height: auto;
    margin-bottom: 352px;
}

#footer #left #sobreFooter {
    margin-left: -19px;
    width: 347px;
    margin-right: 277px;
    border: solid 3px #fff;
    text-align: center;
    margin-top: -308px;
    margin-bottom: -81px; 
}
#footer #left #sobreFooter a {
    margin-bottom: -15px;
    color: #fff;
    text-decoration: none;
    /* padding: 0; */
    height: 10px;
    text-align: initial;
    margin-left: 42px;
    width: 142px;
    margin-top: -20px;
    font-size: 11pt;
}
#footer #left h3{
    text-align: center;
    color: #fff;
    
}
#footer #left #sobreFooter h3{
    margin-left: 30px;
}
#footer #left #sobreFooter #hideSobreFooter {
    display:none;
}
#footer #left #sobreFooter {
    width: 359px;
    height: 55px;
    margin: -30px;
    margin-top: -357px;
}
.newSobreFooter #footer #left #sobreFooter #hideSobreFooter {
    display: grid;
}
.newSobreFooter #footer #left #sobreFooter {
    height: 212px;
    margin-bottom: 34px;
}

} 